html {
    scroll-behavior: smooth;   
}
* {
    margin: 5px 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #212021;
    color: #212021;
}
a{
    color: #e7e7e6;
}
h1{
    font-size: 54px;
    border-bottom: 2px solid #212021 ;
}
h2{
    font-size: 36px;
}

h3{
    display: flex;
    vertical-align: baseline;
    font-size: 24px;
    border-bottom: 2px solid #4d2323 ;
}
.container {
    max-width: 1440px;
    min-width: 100px;
    margin: 0 auto;
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #334142;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section {
    padding: 10px;
    margin: 1% 0; 
    width: calc(50% - 10px);
    background-color: #e7e7e6;
    box-shadow: 10px 5px 5px #000000;
}
.section-about{
    width: 100%;
}
.section-education{
    width: 100%;
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334142;
}
.nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    transition: .3s;
}
.nav-item:hover{
    background: #bc6368;
    transition: all 300ms;
}
.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
}
.section-list{
    list-style: none;
}
.code{
    display: block;
    font-family: monospace;
    background: #000000;
    color: #bc6368;
    white-space: pre-line;
}
.photo{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 5px 10px #000000;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;  
}
.section-profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}
.courses-item a{
    color: #334142;
    text-decoration: none;
}
.courses-item a:hover{
    background: #bc6368;
    transition: all 300ms;
}
.rss-footer{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.rss-logo{
    width: 100px;  
}
.rss-logo:hover{
    filter: invert(1);
    transition: all 300ms; 
  }
.rss-link{
    display: block;
    text-align: center;
}
.social-logo{
    margin: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.social-logo:hover{
    filter: invert(1);
    transition: all 300ms;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.credits{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #e7e7e6;
}
.list{
    display: block;
    list-style-type: disc;
    list-style-position:inside;
}
.contacts-list{
    list-style-type: none;
    font-weight: 800;
}
.contacts-item {
    position: relative;
    margin-left: 30px;
}
.contacts-item a{
    text-decoration: none;
    color: #212021;
}
.contacts-item:before{
    content: "";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
.contacts-item:nth-child(1):before{
    background-image: url(assets/img/tel.png);
}
.contacts-item:nth-child(2):before{
    background-image: url(assets/img/mail.png);
}
.contacts-item:nth-child(3):before{
    background-image: url(assets/img/location.png);
}
.contacts-item a:hover{
    background: #bc6368;
    transition: all 300ms;
}
.languages-bold{
    font-weight: 700;
}
.icons-credits{
    display: block;
}
.icon{
    margin-top: 2px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}
.section-projects{
    width: 100%;
}
.project a{
    text-decoration: none;
    font-weight: 700;
    color: #212021;
}
.project a:hover{
    background: #bc6368;
    transition: all 300ms;
}